################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.netCore/v15/.suo
/.vs
/SMEAppHouse.Core.GHClientLib/.vs/SMEQA.GHClientLib
/SMEAppHouse.Core.Patterns.EF/.vs/SMEAppHouse.Core.Patterns.EF
/SMEAppHouse.Core.WebAPIPatterns/.vs/SMEAppHouse.Core.WebAPI.Patterns
/GPSLibs.netStd_nuget_api_key.txt
/nu_dep.bat
/SMEAppHouse.Core.AppMgt/bin/Debug
/SMEAppHouse.Core.AppMgt/obj/Debug
/SMEAppHouse.Core.AppMgt/obj
/SMEAppHouse.Core.CodeKits/bin/Debug
/SMEAppHouse.Core.CodeKits/obj
/SMEAppHouse.Core.CustomAuth/obj
/SMEAppHouse.Core.CustomAuth/bin/Debug
/SMEAppHouse.Core.QuartzExt/obj
/SMEAppHouse.Core.QuartzExt/bin/Debug
/SMEAppHouse.Core.Patterns.WebApi/obj
/SMEAppHouse.Core.Patterns.WebApi/bin/Debug
/SMEAppHouse.Core.Patterns.Repo/obj
/SMEAppHouse.Core.Patterns.Repo/bin/Debug
/SMEAppHouse.Core.Patterns.EF/obj
/SMEAppHouse.Core.Patterns.EF/bin/Debug
/SMEAppHouse.Core.GHClientLib/obj
/SMEAppHouse.Core.GHClientLib/bin/Debug
/SMEAppHouse.Core.RestSharpClientLib/obj
/SMEAppHouse.Core.RestSharpClientLib/bin/Debug
/SMEAppHouse.Core.Reflections/obj
/SMEAppHouse.Core.Reflections/bin/Debug
/GPS.Frameworks.TopshelfAdapter.Aggregation/obj/Debug
/SMEAppHouse.Core.ProcessService/bin/Debug
/SMEAppHouse.Core.ProcessService/obj
/SMEAppHouse.Core.Scheduler/bin/Debug
/SMEAppHouse.Core.Scheduler/obj
/SMEAppHouse.Core.TopshelfAdapter/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter/obj
/SMEAppHouse.Core.TopshelfAdapter.Aggregation/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter.Aggregation/obj
/SMEAppHouse.Core.TopshelfAdapter.Common/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter.Common/obj
/SMEAppHouse.Core.TopshelfAdapter.Scheduler/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter.Scheduler/obj
/packages
/SMEAppHouse.Core.SeleniumExt/bin/Debug
/SMEAppHouse.Core.SeleniumExt/obj
