################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.netCore/v15/.suo
/.vs
/SMEAppHouse.Core.GHClientLib/.vs/SMEQA.GHClientLib
/SMEAppHouse.Core.Patterns.EF/.vs/SMEAppHouse.Core.Patterns.EF
/SMEAppHouse.Core.WebAPIPatterns/.vs/SMEAppHouse.Core.WebAPI.Patterns
/GPSLibs.netStd_nuget_api_key.txt
/nu_dep.bat
/SMEAppHouse.Core.AppMgt/bin/Debug
/SMEAppHouse.Core.AppMgt/obj/Debug
/SMEAppHouse.Core.AppMgt/obj
/SMEAppHouse.Core.CodeKits/bin/Debug
/SMEAppHouse.Core.CodeKits/obj
/SMEAppHouse.Core.CustomAuth/obj
/SMEAppHouse.Core.CustomAuth/bin/Debug
/SMEAppHouse.Core.QuartzExt/obj
/SMEAppHouse.Core.QuartzExt/bin/Debug
/SMEAppHouse.Core.Patterns.WebApi/obj
/SMEAppHouse.Core.Patterns.WebApi/bin/Debug
/SMEAppHouse.Core.Patterns.Repo/obj
/SMEAppHouse.Core.Patterns.Repo/bin/Debug
/SMEAppHouse.Core.Patterns.EF/obj
/SMEAppHouse.Core.Patterns.EF/bin/Debug
/SMEAppHouse.Core.GHClientLib/obj
/SMEAppHouse.Core.GHClientLib/bin/Debug
/SMEAppHouse.Core.RestSharpClientLib/obj
/SMEAppHouse.Core.RestSharpClientLib/bin/Debug
/SMEAppHouse.Core.Reflections/obj
/SMEAppHouse.Core.Reflections/bin/Debug
/GPS.Frameworks.TopshelfAdapter.Aggregation/obj/Debug
/SMEAppHouse.Core.ProcessService/bin/Debug
/SMEAppHouse.Core.ProcessService/obj
/SMEAppHouse.Core.Scheduler/bin/Debug
/SMEAppHouse.Core.Scheduler/obj
/SMEAppHouse.Core.TopshelfAdapter/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter/obj
/SMEAppHouse.Core.TopshelfAdapter.Aggregation/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter.Aggregation/obj
/SMEAppHouse.Core.TopshelfAdapter.Common/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter.Common/obj
/SMEAppHouse.Core.TopshelfAdapter.Scheduler/bin/Debug
/SMEAppHouse.Core.TopshelfAdapter.Scheduler/obj
/packages
/SMEAppHouse.Core.SeleniumExt/bin/Debug
/SMEAppHouse.Core.SeleniumExt/obj
/SMEAppHouse.Core.HtmlUtil/bin/Debug
/SMEAppHouse.Core.HtmlUtil/obj
/SMEAppHouse.Core.Patterns.EF/bin/Release
/SMEAppHouse.Core.Patterns.Repo/bin/Release
/SMEAppHouse.Core.Patterns.Repo/old
/SMEAppHouse.Core.Patterns.Repo.Generic/bin
/SMEAppHouse.Core.Patterns.Repo.Generic/obj
/SMEAppHouse.Core.Patterns.Repo.V2/obj
/SMEAppHouse.Core.ProcessService/bin/Release
/SMEAppHouse.Core.PuppeteerAdapter/bin
/SMEAppHouse.Core.PuppeteerAdapter/obj
/SMEAppHouse.Core.QuartzExt/bin/Release
/SMEAppHouse.Core.Reflections/bin/Release
/SMEAppHouse.Core.RestSharpClientLib/bin/Release
/SMEAppHouse.Core.Scheduler/bin/Release
/SMEAppHouse.Core.ScraperBox/bin
/SMEAppHouse.Core.ScraperBox/obj
/SMEAppHouse.Core.ScraperBox.Optimus/obj
/SMEAppHouse.Core.ScraperBox.Selenium/obj
/SMEAppHouse.Core.SeleniumExt/bin/Release
/SMEAppHouse.Core.TopshelfAdapter/bin/Release
/SMEAppHouse.Core.TopshelfAdapter.Aggregation/bin/Release
/SMEAppHouse.Core.TopshelfAdapter.Common/bin/Release
/SMEAppHouse.Core.TopshelfAdapter.Scheduler/bin/Release
/GPSLibs.netStd_nuget_api_key_OLD.txt
/SMEAppHouse.Core.CustomAuth/bin/Release
/SMEAppHouse.Core.FreeProxyProvider/obj
/SMEAppHouse.Core.CodeKits/bin/Release
/SMEAppHouse.Core.CodeKits/.vs/SMEAppHouse.Core.CodeKits/v16
/SMEAppHouse.Core.AllLibs/.vs/SMEAppHouse.Core.AllLibs/v16
/SMEAppHouse.Core.AllLibs
/GPS.Frameworks.SeleniumHelpers
/GPS.Frameworks.HtmlHelper
/GPS.Frameworks.HtmlContentGenerator
/GPS.Frameworks.FreeProxyProvider
/3rd_Parties/Threenine.Data
/.Tests
/SMEAppHouse.Core.ScraperBox.Optimus
